[submodule "assignment-8-mpuneet063"]
	path = assignment-8-mpuneet063
	url = https://github.com/mpuneet063/assignment-8-mpuneet063
[submodule "assignment-7-mpuneet063"]
	path = assignment-7-mpuneet063
	url = https://github.com/mpuneet063/assignment-7-mpuneet063
[submodule "assignment-6-mpuneet063"]
	path = assignment-6-mpuneet063
	url = https://github.com/mpuneet063/assignment-6-mpuneet063
[submodule "assignment-5-mpuneet063"]
	path = assignment-5-mpuneet063
	url = https://github.com/mpuneet063/assignment-5-mpuneet063
[submodule "assignment-4-mpuneet063"]
	path = assignment-4-mpuneet063
	url = https://github.com/mpuneet063/assignment-4-mpuneet063
[submodule "assignment-3-mpuneet063"]
	path = assignment-3-mpuneet063
	url = https://github.com/mpuneet063/assignment-3-mpuneet063
[submodule "assignment-2-mpuneet063"]
	path = assignment-2-mpuneet063
	url = https://github.com/mpuneet063/assignment-2-mpuneet063
